# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/Pods/
android/app/build/
*.orig.*

# Env & keys
.env
.env.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro/debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
